
/*FULL*/


body {
    background-color: #b93cde;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

/*BARRA DE NAVEGACION*/

.navbar {
    width: 100%;
    background-color: #3a0798;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.navbar .logo img {    
    max-height: 40px; 
    margin: 10px 0px;
    padding-left: 30px;
}

.nav-menu ul {
    display: flex;
    padding-right: 30px;
}

.nav-menu ul li {
    list-style: none;
    padding: 15px 25px;
}

.nav-menu ul li :hover{
    background-color: #5f3bc4;
    transition: 0.2s ease;
}

.nav-menu ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

.toggle-btn {
    position: absolute;
    top: 25px;
    right: 30px;
    display: none;
    justify-content: space-between;
    flex-direction: column;
    height: 22px;   
    width: 32px;
}

.toggle-btn .bar {
    height: 4px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .navbar .toggle-btn {
        display: flex;
    }
    .nav-menu {
        display: none;
        width: 100%;
    }
    .navbar{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-menu ul{
        width: 100%;
        background-color: rgb(47, 1, 131);
        flex-direction: column;
        padding-right: 0px;
    }
    .nav-menu ul li {
        padding-left: 30px;
    }
    .nav-menu ul li a {
        font-size: 17px;
    }
    .nav-menu.active{
        display: flex;
    }
}

/*Banner*/

.banner {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #f1f1f1;
}

.main-image {
    position: relative;
    background: url(img/banner.jpg) no-repeat center;
    background-size: cover;
    height: 500px;
    overflow: hidden;
}

.container_banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.container_banner h1 {
    margin: 0;
    font-size: 66px;
}

.container_banner h1 span {
    border: 6px solid white;
    padding: 6px 14px;
    display: inline-block;
}

.cen {
    margin: 20px;
    display: block;
    font-size: 22px;
}

.button {
    color: #313131;
    padding: 10px 24px;
    background: #f1f1f1;
    text-decoration: none;
    border-radius: 12px;
    transition: .6s;
}

.button:hover {
    opacity: .6;
}

@media (max-width: 768px) {

    .container_banner h1 {
        margin: 0;
        font-size: 30px;
    }
    
    .container_banner h1 span {
        border: 4px solid white;
        padding: 2px 8px;
        display: inline-block;
    }

    .cen {
        margin: 10px;
        display: block;
        font-size: 12px;
    }

    .button {
        color: #313131;
        padding: 5px 10px;
        background: #f1f1f1;
        text-decoration: none;
        border-radius: 12px;
        transition: .6s;
    }

}

@media (max-width: 280px) {

    .container_banner h1 {
        margin: 0;
        font-size: 20px;
    }
    
    .container_banner h1 span {
        border: 4px solid white;
        padding: 3px 7px;
        display: inline-block;
    }

    .cen {
        margin: 5px;
        display: block;
        font-size: 15px;
    }

    .button {
        color: #313131;
        padding: 1px 4px;
        background: #f1f1f1;
        text-decoration: none;
        border-radius: 12px;
        transition: .6s;
    }

}


/*sobre mi*/



.read-more-container .Sobre_mi_titulo {
    font-size: 50px;
    color: #BDBDBD;
}

.read-more-container .Sobre_mi_titulo span {
    color: #FFFFFF;
}

.read-more-container .Profile_picture img {
    text-align: center;
    width: 40%;
    border-radius: 30%;
}


.read-more-container{
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-size: 25px;
    gap: 1rem;
    margin-left: 2em;
    margin-right: 2em;
}

.read-more-container .container{
    text-align: center;
    margin-top: 10px;
    padding: 2rem;
    background-color: #7C4DFF;
    border-radius: 5%;
    line-height: 1.4rem;
    box-shadow: 0 0 1rem rgba(0,0,0,.1);
}

.read-more-btn{
    color: #BDBDBD;
}

.read-more-text{
    display: none;
}

.read-more-text--show{
    display: inline;
}

@media (max-width: 768px) {

    .read-more-container .container h3 {
        line-height: 2.7rem;
    }

    .read-more-container .container {
        line-height: 2.4rem;
    }
}





/*Educacion*/

.Titulo_Educacion {
    display: grid;
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-weight: 600;    
    margin-bottom: -30px;

}

.Contenedor_Educacion {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container {
    width: 100%;
    display: flex;
    max-width: 1100px;
}

.Card {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #7c4dff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}

.Card:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.Card img {
    width: 100%;
    height: 210px;
}

.Card .Contenido {
    padding: 15px;
    text-align: center;
}

.Card .Contenido p{
    line-height: 1.5;
    color: #c3c2c2;
}

.Card .Contenido h3{
    font-weight: 400;
    margin-bottom: 15px;
}

.Card .Contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #eee;
    border: 1px solid #2c3b9c;
    border-radius: 4px;
    transition: all 400ms ease;
}

.Card .Contenido a:hover{
   background: #a67bf6;
   color: #222222;
}



@media (max-width: 960px) {
.Contenedor_Educacion {
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
}

@media (max-width: 768px) {
 
        body {
            width: 100%;
        }

        .Titulo_Educacion {
            display: grid;
            color: #fff;
            text-align: center;
            font-size: 30px;
            font-weight: 600;
            margin-bottom: -30px;
            margin-top: 150px;
        }

       .Container {
        Width: 100%;
        Display: grid;
        height: -webkit-fill-available;
        Min-width: 300px;
        flex-wrap: wrap;
        margin-bottom: 1px;
       padding-bottom: 1em;
    }

    .Contenedor_Educacion {
        width: 100%;
        height: 110vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Card {
    height: max-content;
    width: 100%;
    margin: 14px;
    border-radius: 6px;
    overflow: auto;
    background: #7c4dff;
    box-shadow: 0px 1px 10px rgb(0 0 0 / 20%);
    cursor: default;
    transition: all 400ms ease;
    margin-left: -1px;
    }

    .Card img {
        width: 100%;
        height: 200px;
    }
    
    .Card .Contenido p{
        line-height: 1;
        color: #c3c2c2;
    }
    
    .Card .Contenido h3{
        font-weight: 400;
        margin-bottom: 15px;
        margin-top: 1px;
    }

}

@media (max-width: 368px) {
    .Titulo_Educacion {
        display: grid;
        color: #fff;
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 0px;
    }

    .Titulo_Educacion {
        display: grid;
        color: #fff;
        text-align: center;
        font-size: 50px;
        font-weight: 600;
        margin-top: 100px;
    }
    
    

}

/*Experiencia*/

#Titulo_Principal_experiencia  {
    text-align: center;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 5px;
}

.wrapper {
	min-height: 100vh;
	box-sizing: border-box;
	padding-top: 5%;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
	max-width: 960px;
	margin: 0 auto;
    margin-bottom: -140px;
}
.caja {
	display: flex;
	flex-wrap: wrap;
}
.caja label {
	background: #7c4dff;
	font-weight: 700;
	text-align: center;
	box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.5);
	order: 1;
	display: block;
	padding: 16px 127px;
	margin-right: 4px;
	cursor: pointer;
}
.caja .content {
	display: none;
	padding: 30px;
	background: #7c4dff;
	box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.5);
	order: 99;
	flex-grow: 1;
	width: 100%;
}
.caja input[type="radio"] {
	display: none;
}
.caja input[type="radio"]:checked+label {
	background: #5f3bc4;
}
.caja input[type="radio"]:checked+label+.content {
	display: block;
}


@media (max-width: 950px) {
.wrapper {
    min-height: 50vh;
    box-sizing: border-box;
    padding-top: 5%;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: -140px;
}
}


@media (max-width: 600px) {
	
    

    .caja .content, .caja label {
		order: initial;
	}
	.caja label {
		width: 100%;
		margin-right: 0;
		margin-top: 4px;
	}
}



/*HABILIDADES E IDIOMAS*/

.Habilidades_e_idiomas {
    margin: 40px;
    padding: 0;
    box-sizing: border-box;
}

.Titulo_Habilidades_e_idiomas {
    color: #fff;
    text-align: center;
    font-size: 80px;
    font-weight: 600;
    margin-top: 0;
}

.Titulo_Habilidades_e_idiomas  span{
    color: #b2b2b2;
}

@media (max-width: 768px) {
    .Habilidades_e_idiomas {
        margin-top: 400px;
        padding: 0;
        margin-left: 5px;
        box-sizing: border-box;
    }

    .Habilidades_e_idiomas .Titulo_Habilidades_e_idiomas {
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 60px;
        font-weight: 600;
        margin-top: 0;
        padding-top: 300px;
    }
    
    .Titulo_Habilidades_e_idiomas {
        color: rgb(0 0 0 / 0%)
    }
}

@media (max-width: 420px) {
.Habilidades_e_idiomas .Titulo_Habilidades_e_idiomas {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    margin-top: 0;
    padding-top: 180px;
    margin-left: 25px;
}
}

@media (max-width: 400px) {
    .Habilidades_e_idiomas .Titulo_Habilidades_e_idiomas {
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 60px;
        font-weight: 600;
        margin-top: 0;
        padding-top: 210px;
        margin-left: 25px;
    }
    }


/*HABLIDADES DE SOFTWARE*/
.Habilidades_e_idiomas .Habilidades_Software .container .Titulo_front-end {
    color: #111;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.Habilidades_e_idiomas .Habilidades_Software .container .Titulo_front-end span{
    color: rgba(187, 48, 218, 0.977);
}


.Habilidades_Software .container{
    position: relative;
    width: 90%;
    background: #fff;
    margin: 0px 15px 20px 15px;
    padding: 10px 20px;
    border-radius: 7px;
}
.Habilidades_Software .container .skill-box{
    width: 100%;
    margin: 10px 0;
}
.Habilidades_Software .skill-box .title{
    display: block;
    font-size: 25px;
    font-weight: 600;
    color: #111;
}
.Habilidades_Software .skill-box .skill-bar{
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0,0,0,0.1);
}
.Habilidades_Software .skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 60%;
    border-radius: 6px;
    background: #7C4DFF;
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}
.Habilidades_Software .skill-per.css{
    width: 40%;
    animation-delay: 0.1s;
}
.Habilidades_Software .skill-per.javascript{
    width: 25%;
    animation-delay: 0.2s;
}

@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.Habilidades_Software .skill-per .tooltip{
    position: absolute;
    right: -21px;
    top: -28px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: #7C4DFF;
    z-index: 1;
}
.Habilidades_Software .tooltip::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #7C4DFF;
    transform: translateX(-50%) rotate(45deg);

}


/*IDIOMAS*/
.Habilidades_e_idiomas .Idiomas .container .Titulo_Ingles {
    color: #111;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.Habilidades_e_idiomas .Idiomas .container .Titulo_Ingles span{
    color: rgba(182, 0, 222, 0.977);
}

.Idiomas .container{
    position: relative;
    width: 90%;
    background: #fff;
    margin: 0 15px;
    padding: 18px 20px;
    border-radius: 7px;
}
.idiomas .container .skill-box{
    width: 100%;
    margin: 30px 0;
}
.skill-box .title{
    display: block;
    font-size: 25px;
    font-weight: 600;
    color: #111;
}
.skill-box .skill-bar{
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0,0,0,0.1);
}

.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 90.5%;
    border-radius: 6px;
    background: #7C4DFF;
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}

.skill-per.Oral{
    width: 96.3%;
    animation-delay: 0.1s;
}

.skill-per.Writing{
    width: 87.4%;
    animation-delay: 0.2s;
}

.skill-per.Escucha{
    width: 93.1%;
    animation-delay: 0.3s;
}
@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.skill-per .tooltip{
    position: absolute;
    right: -24px;
    top: -28px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: #7C4DFF;
    z-index: 1;
}
.tooltip::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #7C4DFF;
    transform: translateX(-50%) rotate(45deg);

}



@media (max-width: 768px) {

.Titulo_Habilidades_e_idiomas {
    color: #111;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    margin-top: 0;
}
}


@media (max-width: 300px) {

    .Titulo_Habilidades_e_idiomas {
        color: #111;
        text-align: center;
        font-size: 40px;
        font-weight: 600;
        margin-top: 0;
    }
    }



/*Informacion de contacto*/


.Informacion_de_contacto {
    box-sizing: border-box;
    max-width: 1170px;
    background-color: #7c4dff;
    color: #fff;
    font-family: 'Barlow', sans-serif;
    padding: 1.5em;
    margin-left: auto;
    margin-right: auto;
    border: 10px;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.Informacion_de_contacto form {
    margin: 30px;
    border: 1em;
}


.Informacion_de_contacto form {
    width: 100%;
    padding: 0.7em;
    border: none;
    background: none;
    border-bottom: 1px solid #BDBDBD;
}

.Informacion_de_contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
}



form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea  {
    color: #fff;
	width: 100%;
    padding: .7em;
    border: 1em;
    border-right: 100px;
    background: none;
    border-bottom: 1px solid #BDBDBD;
    outline: none;
}

form button {
    width: 100%;
    background-color: #3a0798;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}


.Informacion_de_contacto .boton_enviar:hover {
    background-color: #C5CAE9;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

.Mi_contacto {
    padding: 1em;
    background-color: #5f3bc4;
    margin-left: 4em;
}

.Informacion_de_contacto p, ol {
    text-align: center;
}

.Mi_contacto ol {
    font-size: 18px;
}

.Mi_contacto p {
    font-size: 25px;
}

.Informacion_de_contacto h3, h4 {
    text-align: center;
    font-size: 30px;
}

@media (max-width: 768px) {


    .Informacion_de_contacto    { 
    display: grid;
    grid-template-columns: 1fr;
    padding: 1px;
    }

    .Informacion_de_contacto form {
        margin: -8px;
        width: 94%;
    }

    .Mi_contacto {
        padding: 1em;
        background-color: #5f3bc4;
        margin-left: 0em;
    }

    .Informacion_de_contacto h3, h4 {
        text-align: center;
    }
}




/*Pie de pagina*/

.Pie_de_pagina {
    width: 100%;
    background-color: #3a0798;
}

.Pie_de_pagina .Grupo_1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 10px 0px;
}


.Pie_de_pagina .Grupo_1 .box figure {
    margin-top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Pie_de_pagina .Grupo_1 .box figure img{
    width: 120px;
}

.Pie_de_pagina .Grupo_1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.Pie_de_pagina .Grupo_1 .box p{
    color: #BDBDBD;
    margin-bottom: 10px;
}

.Pie_de_pagina .Grupo_1 .red_social a{
    display:    inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 6px;
    color: #FFFFFF;
    margin-right: 10px;
    background-color: #7c4dffbf;
    text-align: center;
    transition: all 300ms ease;
}

.Pie_de_pagina .Grupo_1 .red_social a:hover{
    color: #BDBDBD
}

.Pie_de_pagina .Grupo_2 {
    background-color: #C5CAE9;
    padding: 15px 10px;
    text-align: center;
    color: black;
}

.Pie_de_pagina .Grupo_2 small{
    font-size: 15px;
}


@media screen and (max-width:768px){
    .Pie_de_pagina .Grupo_1{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
        text-align: center
    }   

    .Mi_contacto ol {
        width: 100%;
        font-size: 14px;
        margin-left: -30px;
    }

    .box {
        display: block;
    }

    .Pie_de_pagina .Grupo_1 .box figure {
        width: auto;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    }